@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
          url("../fonts/Rubik-Bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
          url("../fonts/Rubik-Medium.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
          url("../fonts/Rubik-Regular.woff") format("woff");
    font-display: swap;
  }

body{
    font-family: "Rubic-Regilar", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #f5f5f5;
}

.nav{
    height: 88px;
    background: #ffffff;
}

.nav__container{
    margin: auto;
    width: 1171px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin: auto 0;
}

.nav__content{
    width: 540px;
    margin: auto 0;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

.nav__item{
    list-style-type: none;
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #242a5a;
}

.nav__link{
    text-decoration: none;
    color: #242a5a;
}

.nav__link:hover{
    color: #525ec0;
}

.contacts_item{
    display: block;
}

.