@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
          url("../fonts/Rubik-Bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
          url("../fonts/Rubik-Medium.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
          url("../fonts/Rubik-Regular.woff") format("woff");
    font-display: swap;
  }

body{
    font-family: "Rubic-Regilar", Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    background:  #ffffff;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.nav{
    height: 88px;
    background: #ffffff;
    border-bottom: 4px #00346a solid;
}


.nav__container{
    margin: auto;
    width: 1171px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}



.header__logo{
    margin: auto 0;
}

.nav__content{
    width: 540px;
    margin: auto 0;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

.nav__item{
    list-style-type: none;
    font-family: "Rubik-Medium", Arial, sans-serif;
    text-transform: uppercase;
    color: #242a5a;
}

.nav__link{
    text-decoration: none;
    color: #242a5a;
}

.nav__link:hover{
    color: #525ec0;
}

.header__content{
    border-top: #677c9d 1px solid;
    background: url(/images/town.jpg), no-repeat;
    height: 844px;
}

.header__wraper{
    margin: 0 auto;
    width: 1171px;
}

.contacts{
    position: relative;
    display: flex;
    background-color: white;
    width: 668px;
    height: 53px;
    margin-left: 559px;
    box-shadow: 10px;
}

.contacts:before{
    position: absolute;
    content: '';
    right: 668px ;
    border: 48px solid transparent;
    border-top: 53px solid white;
    border-right: 0px solid white;

}

.contacts:after{
    position: absolute;
    content: '';
    left: 668px;
    border: 48px solid transparent;
    border-left: 0px solid white; 
    border-top: 53px solid white;
}

.contacts__content{
    display: flex;
    justify-content: space-between;
    width: 544px;
    margin: 0 auto;
}

.contacts__item{
    display: block;
    color: #131f4f;
    text-decoration: none;
    margin: auto 0;
}

.contacts__paragraph--timetable:before{
    content: url(/images/watch-icon.png);
    margin: 0 10px 0 0; 
}

.contacts__paragraph--email:before{
    content: url(/images/mail-icon.png);
    margin: 0 10px 0 0; 
}

.contacts__paragraph--phone-number:before{
    content: url(/images/phone-icon.png);
    margin: 0 10px 0 0; 
}

.home{
    margin-top: -629px;
}

.home__wraper{
    margin: 0 auto;
    width: 1171px;
    display: flex;
}

.home__text-side{
    color: white;
    margin-left: 106px;
}

.home__title{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 60px;
    margin: 45px 0 42px 0;
}

.home__paragraph{
    line-height: 25px;
    margin: 0 0 42px 0;
}

.home__buttons{
    display: flex;
}

.home__button{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 39px;
    border-radius: 15px;
    border: #ffffff 2px solid;
    margin: 0 30px 0 0;
}

.home__button:hover{
    transition: 500ms;
    background: #00346a;
}

.home__button-link{
    display: block;
    font-family: "Rubik-Medium";
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto 0;
}

.home-partner{
    display: flex;
    height: 124px;
    margin: 242px 0 0 0;
    border-bottom: #848ba6 7px solid;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 4px;
}

.home-partner__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 601px;
    margin: auto;
}

.home-parther__item{
    list-style-type: none;
    margin: auto 0;
}

.about-us{
    background: #ffffff;
    margin: 113px;
}

.about-us__container{
    display: flex;
    justify-content: space-between;
    width: 1171px;
    margin:  0 auto;
}

.about-us__content{
    width: 500px;
}

.about-us__header{
    font-family: "Rubik-Bold", Arial, sans-serif;
    color: #082362;
    font-size: 36px;
}

.about-us__title{
    color: #707070;
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 20px;
}

.about-us__title:after{
    display: inline-block;
    content: '';
    width: 113px;
    border-bottom: #22306a 2px solid;
    margin-left: 13px;
}

.about-us__paragraph{
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.about-us__literal{
    color: #707070;
    font-family: "Rubik-Medium", Arial, sans-serif;
}

.stats_table{
    margin: 63px 0 0 0;
}

.stats__cell{
    width: 170px;
}

.stats__number{
    color: #082362;
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 24px;
    margin: 0;
}

.stats__desc{
    color: #707070;
    font-size: 16px;
    margin: 0;
}

.about-us-form{
    background: #082362;
    width: 601px;
    height: auto;
}

.about-us-form__header{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 36px;
    margin: 23px 0 38px 32px;
    color: white;
}

.about-us-form__input{
    display: block;
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
    padding: 16px 29px;
    margin: 0 0 19px 30px;
    width: 488px;
    border: #e1d6d7 1px solid;
    border-radius: 0;
    outline: none;
}

.about-us-form__input--message{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
    resize: none;
    width: 488px;
    height: 98px;
    margin: 0 0 36px 30px;
}

.about-us-form__submit-button{
    background: #ffffff;
    border-radius: 0;
    border: 0;
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 17px;
    color: #082362;
    padding: 20px 67px 20px 67px;
    margin: 0 0 40px 33px;
    outline: none;
    transition: 400ms;
}

.about-us-form__submit-button:hover{
    background: #dddddd;
}

/*how-work*/
.how-work{
    background: #082362;
    color: #ffffff;
    padding-bottom: 43px;
}

.how-work__container{
    width: 1171px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.how-work__content{
    position: relative;
    width: 514px;
    padding: 0 0 0 71px;
}

.how-work__title{
    margin: 60px 0 70px 0;
}

.how-work__list{
    padding: 0;
}

.how-work__item{
    position: relative;
    padding: 0 0 0 74px;
    margin: 0 100px 0 0;
}

.how-work__item--data-colect:before{
    position: absolute;
    content: '';
    background: url(/images/task-complete.jpg);
    width: 47px;
    height: 47px;
    border-radius: 50%;
    left: 0px;
    
}

.how-work__item--analysis-data:before{
    position: absolute;
    content: '';
    background: url(/images/graph-analys.jpg);
    width: 47px;
    height: 47px;
    border-radius: 50%;
    left: 0px;
    
}

.how-work__item--rep-sol:before{
    position: absolute;
    content: '';
    background: url(/images/stonks.jpg);
    width: 47px;
    height: 47px;
    border-radius: 50%;
    left: 0px;
    
}

.how-work__item-header{
    margin: 0 0 14px;
}

.how-work__item-text{
    margin: 0 0 32px;
    line-height: 25px;
}

.how-work__title{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 36px;
}

.how-work__item-header{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 18px;
}

.how-work__item-text{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
}

.video{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 585px;
    height: 570px;
    width: 952px;
    background: url(/images/video-right.jpeg);
}

.video__circle{
    border-radius: 50%;
}

.video__circle--1{
    position:relative;
    background:rgba(8, 35, 98, 0.1);
    width:280px;
    height:280px;
    z-index: 1;
    margin: auto 0;
}

.video__circle--2{
    position: absolute;
    height: 206px;
    width: 206px;
    top: 35px;
    left: 35px;
    background:rgba(8, 35, 98, 0.3);
    z-index: 2;
}

.video__circle--3{
    position: absolute;
    height: 139px;
    width: 139px;
    top: 70px;
    left: 70px;
    background:rgba(8, 35, 98, 0.5);
    z-index: 3;
}

.video__circle--4{
    position: absolute;
    height: 97px;
    width: 97px;
    top: 90px;
    left: 90px;
    background:rgba(8, 35, 98, 0.8);
    z-index: 4;
}
.video__circle--4:after{
    position: absolute;
    content: "";  
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-left: 30px solid white;
    top: 30px;
    left: 35px;
}
/*section-title begin*/

.section-title{
    display: flex;
    margin: 0 0 58px 0;
}

.section-header{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 36px;
    margin: 0 40px 0 0 ;
    white-space: nowrap;
    position: relative;
}

.section-header--white{
    color: #082362;
}

.section-header--white:after{
    position: absolute;
    display: inline-block;
    content: " ";
    background: #23316a;
    width: 1px;
    height: 100%;
    margin-left: 40px;
}

.section-header--dark{
    color: white;
}

.section-header--dark:after{
    position: absolute;
    display: inline-block;
    content: " ";
    background: #ffffff;
    width: 1px;
    height: 100%;
    margin-left: 40px;
}

.section-title__desc{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
    margin: 0 40px 0 20px;
    line-height: 20px;
    position: relative;
}

.section-title__desc--white{
    color: #6B6B6B;
}

.section-title__desc--white:before{
    position: absolute;
    display: inline-block;
    content: " ";
    background:#23316a;
    width: 3px;
    height: 60%;
    left: -21px;
    top:20%;
}

.section-title__desc--dark{
    color: #C1C1C1;
}

.section-title__desc--dark:before{
    position: absolute;
    display: inline-block;
    content: " ";
    background: #ffffff;;
    width: 3px;
    height: 60%;
    left: -21px;
    top:20%;
}

/*section-title end*/

/*about-our-services*/
.about-our-service{
   background: #f5f5f5;
}

.about-our-service__container{
    width: 1171px;
    margin: 0 auto; 
    padding-top: 127px;
}

.services-list{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;
}

.services-item{
    position: relative;
    width: 271px;
    border: #e5e8f0 1px solid;
    border-radius: 1px;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 30px 49px;
    transition: 500ms;
}

.services-item:hover{
    background: #082362;
}

.services-item:hover .services-item__paragraph{
    color: #ffffff;
}

.services-item:hover .services-item__link{
    color: #ffffff;
}

.services-item__link{
    color: #111c39;
}

.services-item__title{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 18px 40px;
}

.services-item--finance:before{
    position: absolute; 
    display: inline-block;
    content: url(/images/services-icons/dark/globus.png);
    text-align: center;
    line-height: 0px;
}

.services-item--finance:hover:before{
    content: url(/images/services-icons/light/globus.png);
}

.services-item--audit:before{
    position: absolute;
    display: inline-block;
    content: url(/images/services-icons/dark/grapgic-logo.png);
    text-align: center;
    line-height: 0px;
}

.services-item--audit:hover:before{
    content: url(/images/services-icons/light/grapgic-logo.png);
}

.services-item--business:before{
    position: absolute;
    display: inline-block;
    content: url(/images/services-icons/dark/paper.png);
    text-align: center;
    line-height: 0px;
}

.services-item--business:hover:before{
    content: url(/images/services-icons/light/paper.png);
}

.services-item--training:before{
    position: absolute;
    display: inline-block;
    content: url(/images/services-icons/dark/man-desc.png);
    text-align: center;
    line-height: 0px;
}

.services-item--training:hover:before{
    content: url(/images/services-icons/light/man-desc.png);
}

.services-item--invest:before{
    position: absolute;
    display: inline-block;
    content: url(/images/services-icons/dark/money.png);
    text-align: center;
    line-height: 0px;
}

.services-item--invest:hover:before{
    content: url(/images/services-icons/light/money.png);
}

.services-item--marketing:before{
    position: absolute;
    display: inline-block;
    content: url(/images/services-icons/dark/team.png);
    text-align: center;
    line-height: 0px;
}

.services-item--marketing:hover:before{
    content: url(/images/services-icons/light/team.png);
}


.services-item__paragraph{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 22px;
    color: #6B6B6B;
}
/*achivements*/
.achivements{
    background: #082362;
}

.achivements__header{
    position: absolute; 
    opacity: 0;
}

.achivements-table{
    width: 1171px;
    margin: 0 auto;
}

.achivements-table__number{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 48px;
    color: white;
    margin: 80px 0 26px 0;
    width: 270px;
}

.achivements-table__title{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 20px;
    color: #a9a0a6;
    margin: 0 0 33px 0;
    width: 270px;
}

.achivements-table__desc{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0 0 80px 0;
    width: 270px;
}
/*team*/
.team{
 margin: 158px 0 136px 0;
}

.team__container{
    display: flex;
    width: 1171px;
    margin: 0 auto;
}

.team__text-container{
    margin: auto 0;
}

.team__header{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 36px;
    color: #082362;
    margin: 0px;
}

.team__paragraph{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
    color: #6B6B6B;
    margin:  25px 0 50px 0;
}

.team__link{
    color: #ffffff;
    background: #082362;
    border-radius: 0;
    border: 0;
    outline: none;
    transition: 200ms;
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 17px;
    padding: 13px 22px;
}

.team__link:hover{
    background: #111c39;
}

.team__worker-list{
    display: flex;
}

.team__worker{
    margin: 0 0 0 34px;
    position: relative;
}

.team__worker-image{
    
}

.team__worker-info{
    position: absolute;
    top: 283px;
    z-index: 1;
}

.team__worker-name{
    color: #ffffff;
    background: rgba(8, 35, 98, 0.8);
    margin: 0;
    text-align: center;
    padding: 12px 0;
    border-bottom: #22306a solid 1px;
    width:  236px;
    transition: 200ms;
}

.team__worker-name:hover{
    background: rgba(8, 35, 98, 1);
}

.team__worker-position{
    color:#D0CECE;
    background:rgba(8, 35, 98, 0.8);
    margin: 0;
    text-align: center;
    padding: 12px 0;
    transition: 200ms;
}

.team__worker-position:hover{
    background: rgba(8, 35, 98, 1);
}

.team__worker-name{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 18px;
}

.team__worker-position{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
}
/*latest-news*/
.lastest-news__header{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 18px;
}

.lastest-news__text{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 16px;
}

.lastest-news__button{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 17px;
}

/*happy-moments*/
.happy-moments__header{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 36px;
}

.happy-moments__desc{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 14px;
}

.happy-moments__link-button{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 17px;
}

.happy-moments__link{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 16px;
}
/*footer*/
.footer__header{
    font-family: "Rubik-Medium", Arial, sans-serif;
    font-size: 18px;
}

.footer__header--main{
    font-size: 22px;
}

.about__paragraph{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 15px;
}

.resources__link{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 15px;
}

.links__link{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 15px;
}

.subs-form__desc{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 15px;
}

.footer__copyright-text{
    font-family: "Rubik-Regular", Arial, sans-serif;
    font-size: 16px;
}
