@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
          url("../fonts/Rubik-Bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
          url("../fonts/Rubik-Medium.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
          url("../fonts/Rubik-Regular.woff") format("woff");
    font-display: swap;
  }

body{
    font-family: "Rubic-Regilar", Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    background: #f5f5f5;
}

.nav{
    height: 88px;
    background: #ffffff;
    border-bottom: 4px #00346a solid;
}


.nav__container{
    margin: auto;
    width: 1171px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}



.header__logo{
    margin: auto 0;
}

.nav__content{
    width: 540px;
    margin: auto 0;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

.nav__item{
    list-style-type: none;
    font-family: "Rubik-Medium", Arial, sans-serif;
    text-transform: uppercase;
    color: #242a5a;
}

.nav__link{
    text-decoration: none;
    color: #242a5a;
}

.nav__link:hover{
    color: #525ec0;
}

.header__content{
    border-top: #677c9d 1px solid;
    background: url(/images/town.jpg), no-repeat;
    height: 844px;
}

.header__wraper{
    margin: 0 auto;
    width: 1171px;
}

.contacts{
    position: relative;
    display: flex;
    background-color: white;
    width: 668px;
    height: 53px;
    margin-left: 559px;
    box-shadow: 10px;
}

.contacts:before{
    position: absolute;
    content: '';
    right: 668px ;
    border: 48px solid transparent;
    border-top: 53px solid white;
    border-right: 0px solid white;

}

.contacts:after{
    position: absolute;
    content: '';
    left: 668px;
    border: 48px solid transparent;
    border-left: 0px solid white; 
    border-top: 53px solid white;
}

.contacts__content{
    display: flex;
    justify-content: space-between;
    width: 544px;
    margin: 0 auto;
}

.contacts__item{
    display: block;
    color: #131f4f;
    text-decoration: none;
    margin: auto 0;
}

.contacts__paragraph--timetable:before{
    content: url(/images/watch-icon.png);
    margin: 0 10px 0 0; 
}

.contacts__paragraph--email:before{
    content: url(/images/mail-icon.png);
    margin: 0 10px 0 0; 
}

.contacts__paragraph--phone-number:before{
    content: url(/images/phone-icon.png);
    margin: 0 10px 0 0; 
}

.home{
    margin-top: -629px;
}

.home__wraper{
    margin: 0 auto;
    width: 1171px;
    display: flex;
}

.home__text-side{
    color: white;
    margin-left: 106px;
}

.home__title{
    font-family: "Rubik-Bold", Arial, sans-serif;
    font-size: 60px;
    margin: 45px 0 42px 0;
}

.home__paragraph{
    line-height: 25px;
    margin: 0 0 42px 0;
}

.home__buttons{
    display: flex;
}

.home__button{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 39px;
    border-radius: 15px;
    border: #ffffff 2px solid;
    margin: 0 30px 0 0;
}

.home__button:hover{
    transition: 500ms;
    background: #00346a;
}

.home__button-link{
    display: block;
    font-family: "Rubik-Medium";
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto 0;
}

.home-partner{
    display: flex;
    height: 124px;
    margin: 242px 0 0 0;
    border-bottom: #848ba6 7px solid;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 4px;
}

.home-partner__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 601px;
    margin: auto;
}

.home-parther__item{
    list-style-type: none;
    margin: auto 0;
}